@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//variables start
$font-montserat: "Montserrat", sans-serif;
$background-color: #fbfbfb;
$border-color: rgba(0, 0, 0, 0.4);
$primary-color: #333;

$text-color-black: #000;
$text-color-light: #ffffff;
//variables end

//styling remove start
a,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
    color: #ea3a3a;
}
//styling remove end

//mixin start

@mixin display-flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

//mixin end
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    @include display-flex(center, center, column);

    transition: transform 0.5s ease-in-out;
    .section {
        width: 100%;
        max-width: 1536px;
        padding: 0 10px;
        transition: transform 0.5s ease-in-out;
        margin-bottom: 120px;
        // border-left: 2px solid $border-color;
        // border-right: 2px solid $border-color;
    }
}

// header start
.header_top {
    @include display-flex(center, center, row);
    position: relative;

    // header social_media
    .logo {
        width: 250px;
        height: 50px;
        // background-color: $primary-color;
        // margin-left: auto;
        font-size: 50px;
        font-weight: bolder;
    }

    .social_media {
        @include display-flex(center, center, row);
        //  margin-left: auto;
        gap: 24px;
        position: absolute;
        right: 5px;
    }
}
.header_bot {
    height: 94px;
    @include display-flex(center, center, row);
    position: relative;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-top: 40px;

    nav {
        width: 100%;
        max-width: 1170px;
        @include display-flex(center, space-between, row);
        a {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: $text-color-black;
            padding: 12px;
            border: 1px solid rgba(255, 255, 255, 0);
            white-space: nowrap;
            transition: all 0.2s ease-in;
            border-radius: 20px;
        }
        a:hover {
            border: 1px solid black;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }
        .active_nav {
            border: 1px solid black;
            border-radius: 20px;
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }
    }
}
// header end

//content section start
.section_content {
    max-height: 1536px;
    @include display-flex(center, space-between, row);
    gap: 24px;

    #content_main {
        width: 100%;
        max-width: 1016px;
        max-height: 758px;
        @include display-flex(flex-start, center, row);
        // flex-wrap: wrap;
        gap: 24px;

        .most_popular_post {
            position: relative;
            width: 100%;
            max-width: 626px;
            max-height: 626px;

            & > h2 {
                text-align: start;
                color: $text-color-black;
                position: absolute;
                top: -64px;
                font-size: 30px;
                font-weight: 500;
                border-left: 1px solid rgb(130, 130, 130);
                padding-left: 5px;
            }
            & > p {
                color: $text-color-black;
                position: absolute;
                top: -25px;
                padding-left: 5px;
            }

            .most_popular_post_img {
                display: inline-block;
                width: 100%;
                max-width: 626px;
                aspect-ratio: 1;
                height: auto;
                border-radius: 14px;
            }
            .most_popular_post_overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.15);
                overflow: hidden;
                width: 100%;
                height: 70px;
                transition: 0.5s ease;
                border-radius: 14px;

                .most_popular_post_overlay-text {
                    width: 100%;
                    max-height: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    color: $text-color-light;
                    text-align: center;
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    border-radius: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;


                    & > span:first-child {
                        white-space: nowrap;
                        max-height: 50px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 500;
                    }
                    & > span:last-child {
                        font-size: 16px;
                        text-decoration: underline;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }
        }
        .most_popular_post:hover .most_popular_post_overlay {
            height: 30%;

            .most_popular_post_overlay-text{
                max-height: 100%;

                & > span:first-child {
                    white-space: wrap;
                    max-height: 100%;

                }
            }
        }

        #most_popular_post-small {
            width: 100%;
            max-width: 366px;
            @include display-flex(center, center, column);
            gap: 24px;
            max-height: 626px;
            .most_popular_post {
                // max-width: 366px;
                max-height: 301px;

                .most_popular_post_img {
                    width: 100%;
                    max-width: 366px;
                    // height: 100%;
                    // // min-height: 290px;
                    max-height: 301px;
                }
            }

            .most_popular_post_overlay-text {
                & > span:first-child {
                    font-size: 15px;
                }
            }

            .most_popular_post:hover .most_popular_post_overlay {
                height: 50%;
            }
        }
    }

    #content_side {
        width: 30%;
        max-width: 496px;
        height: 100%;
        max-height: 680px;
        padding-left: 24px;
        // background-color: #333;
        border-left: 2px solid $border-color;
        @include display-flex(center, center, column);

        & > a {
            width: 100%;
            height: 100%;
            max-height: 136px;
            color: $text-color-black;
            border-top: 2px solid $border-color;
            // border-bottom: 1px solid green;
        }
        & > a:last-child {
            color: $text-color-black;
            border-bottom: 2px solid $border-color !important;
        }

        .content_side_wraper {
            padding: 24px;

            @include display-flex(center, flex-start, row);
            gap: 10px;

            & > img {
                background-color: gray;
                width: 60px;
                aspect-ratio: 1;
                border-radius: 50%;
            }

            .content_side_title {
                @include display-flex(flex-start, center, column);
                gap: 6px;

                & > p {
                    // padding: 8px 0;
                }
            }
        }
    }
}

//content section 2 chat start
.section_content_2 {
    #content_main {
        // max-width: 100%;
        // justify-content: space-between;
        .most_popular_post {
            max-width: 1016px;
            max-height: 684px;

            .most_popular_post_img {
                max-width: 1016px;
                max-height: 684px;
            }
        }

        #most_popular_post-small {
            max-width: 496px;
            max-height: 684px;

            .most_popular_post {
                max-width: 496px;
                max-height: 330px;

                .most_popular_post_img {
                    max-width: 496px;
                    max-height: 330px;
                }
            }
        }
    }
}
@media (max-width: 1560px) {
    .section_content {
        max-height: 100%;
    }
    .section_content #content_main {
        @include display-flex(center, center, column);
        max-height: 100%;
    }

    .section_content #content_main #most_popular_post-small {
        @include display-flex(center, center, row);
        max-width: 626px;
    }
}
//content section 2 chat end

//content section end
