@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//variables start
$font-montserat: "Montserrat", sans-serif;
$background-color: #fbfbfb;
$border-color: rgba(0, 0, 0, 0.14);
$primary-color: #333;

$text-color-black: #000;
$text-color-light: #ffffff;
//variables end

//styling remove start
a,
a:focus,
a:visited,
a:hover {
    text-decoration: none;
    color: #ea3a3a;
}
//styling remove end

//mixin start

@mixin display-flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

//mixin end
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    // outline: auto;
}

body {
    @include display-flex(center, center, column);

    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
    .main_section {
        position: relative;
        width: 100%;
        max-width: 1536px;
        min-width: 320px;
        padding: 0 10px;
        transition: transform 0.5s ease-in-out;
        margin-bottom: 120px;
        gap:48px;
        // border-left: 2px solid $border-color;
        // border-right: 2px solid $border-color;
    }
}

// header start
.header_top {
    @include display-flex(center, center, row);
    position: relative;
    margin: 25px 0;


    // header social_media
    .logo {
        width: 250px;
        height: 50px;
        color: $primary-color;
        // margin-left: auto;
        font-size: 50px;
        font-weight: bolder;
        // pointer-events: none;
        -webkit-user-select: none; 
        -ms-user-select: none; 
        user-select: none;
    }

    .social_media {
        @include display-flex(center, center, row);
        //  margin-left: auto;
        gap: 24px;
        position: absolute;
        right: 5px;

    }
}
.header_bot {
    height: 94px;
    @include display-flex(center, center, row);
    position: relative;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    nav {
        width: 100%;
        max-width: 1170px;
        @include display-flex(center, space-between, row);
        a {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: $text-color-black;
            padding: 12px;
            border: 1px solid rgba(255, 255, 255, 0);
            white-space: nowrap;
            transition: all 0.2s ease-in;
            border-radius: 20px;
        }
        a:hover {
            border: 1px solid black;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }
        .active_nav {
            border: 1px solid black;
            border-radius: 20px;
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }
    }
}
// header end

//content section start
.content_section {
    max-height: 1536px;
    @include display-flex(flex-start, space-between, row);
    // gap: 24px;

    .main_content {
        width: 100%;
        max-width: 1016px;
        max-height: 758px;
        @include display-flex(flex-start, center, row);
        // flex-wrap: wrap;
        gap: 24px;
        padding-left: 15px;

        .popular_post {
            position: relative;
            width: 100%;
            max-width: 626px;
            max-height: 626px;

            & > h2 {
                text-align: start;
                color: $text-color-black;
                position: absolute;
                top: -64px;
                font-size: 30px;
                font-weight: 500;
                border-left: 1px solid rgb(130, 130, 130);
                padding-left: 5px;
                pointer-events: none;
            }
            & > p {
                color: $text-color-black;
                position: absolute;
                top: -25px;
                padding-left: 5px;
                pointer-events: none;
            }

            .popular_post_img {
                display: inline-block;
                width: 100%;
                max-width: 626px;
                aspect-ratio: 1;
                height: auto;
                border-radius: 14px;
            }
            .popular_post_overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.15);
                overflow: hidden;
                width: 100%;
                height: 70px;
                transition: 0.5s ease;
                border-radius: 14px;

                .popular_post_overlay-text {
                    width: 100%;
                    max-height: 50px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    color: $text-color-light;
                    text-align: center;
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    border-radius: 14px;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    & > span:first-child {
                        white-space: nowrap;
                        max-height: 50px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 500;
                        padding: 0 5px;
                    }
                    & > span:last-child {
                        font-size: 16px;
                        text-decoration: underline;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }
        }
        .popular_post:hover .popular_post_overlay {
            height: 30%;

            .popular_post_overlay-text {
                max-height: 100%;

                & > span:first-child {
                    white-space: wrap;
                    max-height: 100%;
                }
            }
        }

        .popular_post-small {
            width: 100%;
            max-width: 366px;
            @include display-flex(center, center, column);
            gap: 24px;
            max-height: 626px;

            & > a {
                width: 100%;
            }

            .popular_post {
                // max-width: 366px;
                max-height: 301px;

                .popular_post_img {
                    width: 100%;
                    max-width: 366px;
                    // height: 100%;
                    // // min-height: 290px;
                    max-height: 301px;
                }
            }

            .popular_post_overlay-text {
                & > span:first-child {
                    font-size: 15px;
                }
            }

            .popular_post:hover .popular_post_overlay {
                height: 50%;
            }
        }
    }

    .sidebar_content {
        position: relative;
        width: 30%;
        min-width: 320px;
        max-width: 496px;
        height: 100%;
        max-height: 680px;
        padding-right: 15px;
        // padding-left: 24px;
        // background-color: #333;
        // border-left: 2px solid $border-color;
        @include display-flex(center, center, column);

        & > a {
            width: 100%;
            height: 100%;
            max-height: 136px;
            color: $text-color-black;
            border-top: 2px solid $border-color;
            // border-bottom: 1px solid green;
        }
        & > a:last-child {
            color: $text-color-black;
            border-bottom: 2px solid $border-color;
        }

        .sidebar_content_wraper {
            padding: 24px;

            @include display-flex(center, flex-start, row);
            gap: 10px;

            & > img {
                background-color: gray;
                width: 60px;
                aspect-ratio: 1;
                border-radius: 50%;
            }

            .sidebar_content_title {
                @include display-flex(flex-start, center, column);
                gap: 6px;

                & > p {
                    max-width: 340px;
                    max-height: 60px;

                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    // padding: 8px 0;
                }
            }
        }
    }

    .sidebar_content::before{
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -24px;
        background-color: $border-color;
    }

    .sidebar_ads {
        width: 30% !important;
        border: none !important;
        padding-left: 0 !important;
        gap: 24px;
        max-height: 684px !important;

        & a {
            width: 100% !important;
            max-width: 496px !important;
            height: 100% !important;
            max-height: 330px !important;
            height: 330px !important;
            border: none !important;
            & > .ad_img {
                width: 100%;
                max-width: 496px;
                height: 100%;
                min-height: 100%;
                max-height: 330px;
                border-radius: 14px;
            }
        }
    }
}

//content section 2 chat start
.aditional_content_1 {
    .main_content {
        // max-width: 100%;
        // justify-content: space-between;
        .popular_post {
            max-width: 1016px;
            // max-height: 684px;

            .popular_post_img {
                max-width: 1016px;
                max-height: 684px;
            }
        }

        .popular_post-small {
            max-width: 496px;
            max-height: 684px;

            .popular_post {
                max-width: 496px;
                max-height: 330px;

                .popular_post_img {
                    max-width: 496px;
                    max-height: 330px;
                }
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    nav {
        display: none !important;
    }

}

@media (max-width: 1560px) {
    .content_section {
        max-height: 100%;
    }
    .content_section .main_content {
        @include display-flex(center, center, column);
        max-height: 100%;
    }

    .content_section .main_content .popular_post-small {
        @include display-flex(center, center, row);
        max-width: 626px;
    }

    .content_section .main_content .popular_post .popular_post_img{
        // aspect-ratio: 0;
    }

    .sidebar_content{
        position: sticky !important;
        top: 10px;
    }

    .aditional_content-2 .main_content .chat_section {
        max-width: 626px;
    }

    .content_section .sidebar_ads a{
        height: 100% !important; 
    }
}
//content section 2 chat end

//content section end
