@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//mixin start

@mixin display-flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

//mixin end
//keyframe start
@keyframes move {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes move-back {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0);
    }
}
//keyframe end

//variables start
$font-montserat: "Montserrat", sans-serif;
$background-color: #fbfbfb;
$border-color: rgba(0, 0, 0, 0.14);
$primary-color: #333;

$text-color-black: #000;
$text-color-light: #ffffff;
//variables end

//styling remove start
a,
a:focus,
a:visited,
a:hover {
    display: inline-block;
    // width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ea3a3a;
    @include display-flex(center, center, initial);
}
//styling remove end

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    // outline: auto;
    box-sizing: border-box;
}

body {
    @include display-flex(center, center, column);

    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
    .main_section {
        position: relative;
        width: 100%;
        max-width: 1536px;
        min-width: 320px;
        padding: 0 10px;
        transition: transform 0.5s ease-in-out;
        margin-bottom: 80px;
        gap: 48px;
        // border-left: 2px solid $border-color;
        // border-right: 2px solid $border-color;
    }
}

// header start
.header_top {
    @include display-flex(center, center, row);
    position: relative;
    margin: 25px 0;

    // header social_media
    .logo {
        width: 250px;
        height: 50px;
        color: $primary-color;
        // margin-left: auto;
        font-size: 50px;
        font-weight: bolder;
        // pointer-events: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .social_media {
        @include display-flex(center, center, row);
        //  margin-left: auto;
        gap: 24px;
        position: absolute;
        right: 5px;
    }
}
.header_bot {
    height: 94px;
    @include display-flex(center, center, row);
    position: relative;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    nav {
        width: 100%;
        max-width: 1170px;
        @include display-flex(center, space-between, row);
        gap: 24px;
        a {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: $text-color-black;
            padding: 12px;
            border: 1px solid rgba(255, 255, 255, 0);
            white-space: nowrap;
            transition: all 0.2s ease-in;
            border-radius: 20px;

            h2 {
                font-size: x-large;
                font-weight: 500;
            }
        }
        a:hover {
            border: 1px solid black;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }
        .active_nav {
            border: 1px solid black;
            border-radius: 20px;
            // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        }
    }
}
// header end
// footer start
.main_section {
    footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        // @include display-flex(flex-start, space-between, row);
        .footer_social_media {
            max-width: 700px;
            display: grid;

            grid-template-columns: repeat(4, minmax(22px, 1fr));
        }
        .footer_links {
            max-width: 700px;
            display: grid;

            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

            a {
                padding: 8px;
                display: inline-block;
                h2 {
                    font-size: 1rem;
                    white-space: nowrap;
                    // text-align: start;
                }
            }
        }
    }
}

// footer end
//content section start
.content_section {
    max-height: 1536px;
    @include display-flex(flex-start, space-between, row);
    // gap: 24px;

    .main_content {
        width: 100%;
        max-width: 1016px;
        // max-height: 758px;
        @include display-flex(flex-start, center, row);
        // flex-wrap: wrap;
        gap: 24px;
        // padding-left: 15px;
    }
}

.popular_post {
    position: relative;
    width: 100%;
    max-width: 626px;
    max-height: 626px;

    .popular_post_img {
        display: inline-block;
        width: 100%;
        max-width: 626px;
        aspect-ratio: 1;
        object-fit: cover;
        height: auto;
        border-radius: 6px;
    }
    .popular_post_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.15);
        overflow: hidden;
        width: 100%;
        height: 70px;
        transition: 0.5s ease;
        border-radius: 6px;

        .popular_post_overlay-text {
            width: 100%;
            max-height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: $text-color-light;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            border-radius: 6px;
            text-overflow: ellipsis;
            overflow: hidden;

            & > span:first-child {
                white-space: nowrap;
                max-height: 50px;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 500;
                padding: 0 5px;
            }
            & > span:last-child {
                font-size: 14px;
                text-decoration: underline;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}
.post_title_container {
    position: absolute;
    top: -70px;
    padding-left: 5px;
    border-left: 1px solid rgb(130, 130, 130);
    overflow: hidden;
    // pointer-events: none;

    & > h2 {
        text-align: start;
        color: $text-color-black;
        font-size: 30px;
        font-weight: 500;
        animation: move 1.5s;
    }
    & > p {
        color: $text-color-black;
        animation: move-back 1.5s;
    }
}
.popular_post:hover .popular_post_overlay {
    height: 30%;

    .popular_post_overlay-text {
        max-height: 100%;

        & > span:first-child {
            white-space: wrap;
            max-height: 100%;
        }
    }
}
.popular_post-small {
    width: 100%;
    max-width: 366px;
    @include display-flex(center, center, column);
    gap: 24px;
    // max-height: 626px;

    & > a {
        width: 100%;
    }

    .popular_post {
        // max-width: 366px;
        max-height: 301px;

        .popular_post_img {
            width: 100%;
            max-width: 366px;
            // height: 100%;
            // // min-height: 290px;
            max-height: 301px;
        }
    }

    .popular_post_overlay-text {
        & > span:first-child {
            font-size: 15px;
        }
    }

    .popular_post:hover .popular_post_overlay {
        height: 50%;
    }
}

.sidebar_content {
    position: relative;
    width: 30%;
    min-width: 320px;
    max-width: 496px;
    height: 100%;
    max-height: 680px;
    // padding-right: 15px;
    // padding-left: 24px;
    // background-color: #333;
    // border-left: 2px solid $border-color;
    @include display-flex(center, center, column);

    & > a {
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        max-height: 136px;
        color: $text-color-black;
        border-top: 2px solid $border-color;
        // border-bottom: 1px solid green;
    }
    & > a:last-child {
        color: $text-color-black;
        border-bottom: 2px solid $border-color;
    }
}
.sidebar_content_wraper {
    padding: 24px;

    @include display-flex(center, flex-start, row);
    gap: 10px;

    & > img {
        background-color: gray;
        width: 60px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    .sidebar_content_title {
        @include display-flex(flex-start, center, column);
        gap: 6px;

        & > p {
            max-width: 340px;
            max-height: 60px;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            text-overflow: ellipsis;
            overflow: hidden;
            // padding: 8px 0;
        }
    }
}

.sidebar_content::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -24px;
    background-color: $border-color;
}

.sidebar_ads {
    position: sticky;
    top: 5px;
    width: 30%;
    border: none;
    padding-left: 0;
    gap: 24px;
    max-height: 684px;

    & a {
        width: 100%;
        max-width: 496px;
        height: 100%;
        max-height: 330px;
        height: 330px;
        border: none;
        & > .ad_img {
            width: 100%;
            max-width: 496px;
            height: 100%;
            min-height: 100%;
            max-height: 330px;
            border-radius: 6px;
        }
    }
}

//content welcome_message chat start
body > .welcome_message {
    margin-bottom: 100px;
    
    .welcome_message_text {
        @include display-flex(flex-start, space-between, column);
        gap: 24px;
        text-align: start;
        padding: 20px;

        .read-more-toggle{
            display: none;
        }

        h2 {
            font-weight: 500;
        }

        h2:last-child {
            span {
                color: #b91616;
                font-size: 1.5rem;
            }
        }

        .main_content {
            flex-direction: column;
        }

        .sidebar_ads {
            opacity: 0.2;
        }
    }

}
//content welcome_message chat end

//content section 1 chat start
.aditional_content_1 {
    .sidebar_content::before {
        width: 0;
        height: 0;
    }
    .main_content {
        @include display-flex(flex-start, center, column);
        max-height: 100%;
        // max-width: 100%;
        // justify-content: space-between;
        .popular_post {
            max-width: 1016px;
            max-height: 684px;

            .popular_post_img {
                max-width: 1016px;
                max-height: 684px;
            }
        }

        .popular_post-small {
            max-width: 496px;
            max-height: 684px;

            .popular_post {
                max-width: 496px;
                max-height: 330px;

                .popular_post_img {
                    max-width: 496px;
                    max-height: 330px;
                }
            }
        }

        .two_posts {
            @include display-flex(flex-start, center, row);
            max-width: 1016px;
            gap: 24px;

            margin-top: 120px;
            .popular_post {
                max-width: 496px;
                max-height: 402px;
            }
            .post_title_container {
                position: initial;
                margin-bottom: 24px;
                // top: 0;
                // max-width: 340px;

                h2 {
                    font-size: 24px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    pointer-events: all;
                }
            }
            .popular_post_img {
                max-width: 496px;
                max-height: 332px;
                aspect-ratio: auto;
            }
        }
    }
}

//content section 1 chat end

//content section 2 chat start

.aditional_content_2 {
    .sidebar_ads {
        opacity: 0;
        pointer-events: none;
    }
    .newest_posts_container {
        @include display-flex(center, center, row);
        gap: 24px;
    }

    .popular_post_overlay {
        display: none;
    }
    .newest_posts {
        @include display-flex(initial, center, column);
        gap: 24px;
        max-width: 496px;
    }
    .newest_posts > a {
        border: 1px solid $border-color;
        border-radius: 6px;
        max-height: 220px;
    }
    .popular_post {
        @include display-flex(flex-start, center, row);
        max-width: 496px;
    }
    .post_title_container {
        position: initial;
        width: 100%;
        max-width: 260px;
        padding: 20px 10px 10px 20px;
        border-left: none;
        h2 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 20px;
            margin-bottom: 8px;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .popular_post_img {
        max-width: 236px;
        max-height: 220px;
        border-radius: 0 6px 6px 0;
    }
}

//content section 2 chat end

//media start
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1560px) {
    .content_section {
        max-height: 100%;
    }

    .content_section .main_content {
        @include display-flex(center, center, column);
        max-height: 100%;
    }

    .content_section .main_content .popular_post-small {
        @include display-flex(center, center, row);
        max-width: 626px;
    }

    .content_section .sidebar_ads a {
        height: 100% !important;
    }

    .sidebar_content {
        position: sticky !important;
        top: 10px;
    }

    //welcome message start
    .welcome_message_text {
        max-width: 626px;
    }
    //welcome message end


    //content 1 start
    .aditional_content_1 .main_content .popular_post {
        max-width: 626px;
    }
    .aditional_content_1 .main_content .two_posts .popular_post {
        max-width: 626px;
        max-height: 489px;
    }
    .aditional_content_1 .main_content .two_posts .popular_post_img {
        max-width: 626px;
        max-height: 416px;
    }

    .aditional_content_1 .main_content .two_posts {
        margin-top: 40px;
        flex-direction: column;
    }
    // .aditional_content_1 .main_content .two_posts .popular_post{
    //     max-width: 626px;
    // }
    //content 1 end

    //content 2 start
    .aditional_content_2 .newest_posts_container {
        flex-direction: column;
    }
    .aditional_content_2 .newest_posts {
        max-width: 626px;
    }
    .aditional_content_2 .popular_post {
        max-width: 626px;
    }

    .aditional_content_2 .post_title_container {
        max-width: none;
    }

    .aditional_content_2 .popular_post_img {
        max-width: none;
    }

    //content 2 end
}

@media (max-width: 1200px) {
    nav {
        display: none !important;
    }
}
@media (max-width: 1025px) {
    body .main_section {
        align-items: center;
        flex-direction: column;
    }
    .sidebar_ads {
        width: 100%;
    }
    .sidebar_content {
        flex-direction: row;
        max-width: 626px;
    }
    .random_posts {
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }
    .sidebar_content::before {
        width: 0;
        height: 0;
    }
    .sidebar_content.sidebar_ads > a:last-child{
        border: 0;
    }
}


@media (max-width: 650px) {
    //
    body .main_section {
        align-items: center;
        flex-direction: column;
    }

    //welcome text start
    body > .welcome_message .welcome_message_text h2{
        font-size: 18px;
    }
    body > .welcome_message .welcome_message_text h2:last-child span{
        font-size: 1.2rem;
    }

    .content_section .main_content .popular_post-small{
        flex-direction: column;
    }

    .popular_post-small .popular_post .popular_post_img{
        max-width: none;
    }

    .read-more-toggle{
        display: inline-block;
    }
    .welcome_message_text h2.text-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }
    
    .welcome_message_text .read-more-toggle {
        display: inline;
        color: rgb(214, 70, 70);
        cursor: pointer;
        font-weight: bold;
    }
    
    .welcome_message_text h2.text-expanded {
        display: block;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
        overflow: visible;
    }
    
    body > .welcome_message .welcome_message_text .read-more-toggle {
        display: inline-block;
    }

    // wecome text end


    //side bar start
    .sidebar_content {
        flex-direction: column;
        max-width: 626px;
    }
    .random_posts {
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }
    .sidebar_content::before {
        width: 0;
        height: 0;
    }
    .sidebar_content.sidebar_ads > a:last-child{
        border: 0;
    }

    .sidebar_ads {
        width: 100%;
        max-width: 320px;
    }

        //side bar end
}
